[Unit]
Description=AinsBOT Discord Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ains
WorkingDirectory=/path/to/AinsBOT
ExecStartPre=git pull 
ExecStartPre=yarn install
ExecStart=node index.js
Restart=always 

[Install]
WantedBy=multi-user.target
